<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="keyword" content="learn，scientific ethics"><!--
<link rel="dns-prefetch" href="https://assets-cdn.github.com">
<link rel="dns-prefetch" href="https://avatars0.githubusercontent.com">
<link rel="dns-prefetch" href="https://avatars1.githubusercontent.com">
<link rel="dns-prefetch" href="https://avatars2.githubusercontent.com">
<link rel="dns-prefetch" href="https://avatars3.githubusercontent.com">
<link rel="dns-prefetch" href="https://github-cloud.s3.amazonaws.com">
<link rel="dns-prefetch" href="https://user-images.githubusercontent.com/">-->
<link crossorigin="anonymous" media="all" integrity="sha512-hqbuBb0QOOmiWgl8a1V1N5q6TI/G0A2hVt/lCFYafR+fYsuXeRUcsdcb/yUyVEHYXktmUXl0Mx9s/BOUNZVq4w==" rel="stylesheet" href="https://assets-cdn.github.com/assets/frameworks-23c9e7262eee71bc6f67f6950190a162.css" />
<link crossorigin="anonymous" media="all" integrity="sha512-KBPgsRWCm+p9yuo4QLKmVUpf3FkA0OfLpo1q5JamlPWVMuIPn9+yOLmpfWMEtwH8ynnW4a14WyQ4/nY629hQmQ==" rel="stylesheet" href="https://assets-cdn.github.com/assets/github-2bc0d56e5863dcbd5ab6a471d6746f07.css" />
<link rel="canonical" href="https://touchLearn.com/login" data-pjax-transient>
<!--<link crossorigin="anonymous" media="all" integrity="sha512-cCY9KKeDzfGd+snVDZwcOIrTjK+JAFW4FR1c4OGJo1Z2QZNbAGVD6JlcnHL19LBcdByWHVxwrAPwigT/v/DWyQ==" rel="stylesheet" href="https://assets-cdn.github.com/assets/site-7472e7b4603d4095447d49d428375ab8.css" />
--><!--<link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="GitHub">
<link rel="fluid-icon" href="https://github.com/fluidicon.png" title="GitHub">-->
<!--<link rel="manifest" href="/manifest.json" crossOrigin="use-credentials">-->
	<title>登录到TouchLearn平台</title>
</head>
<body class="logged-out env-production page-responsive min-width-0 session-authentication" background="">
<div class="auth-form px-3" id="login">
  <form action="/session" accept-charset="UTF-8" method="post">
    <div class="auth-form-header p-0">
      <h1>登录TouchLearn</h1>
    </div>
    <div class="auth-form-body mt-3">
      <label for="login_field"> 用户名/邮箱</label>
      <input type="text" name="login" id="login_field" class="form-control input-block" tabindex="1" autocapitalize="off" autocorrect="off" autofocus="autofocus" />
      <label for="password2"> 密码
      </label>
      <input type="password" name="password" id="password" class="form-control form-control input-block" tabindex="2" />
      <input type="submit" name="commit" value="登录" tabindex="3" class="btn btn-primary btn-block" data-disable-with="登录" />
    </div>
  </form>
</div>
</body>
</html>
