<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cheyfly.touchlearn.common.dao.QuestionParentMapper" >
  <resultMap id="BaseResultMap" type="com.cheyfly.touchlearn.common.pojo.QuestionParent" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="question_parent_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from question_parent
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cheyfly.touchlearn.common.pojo.QuestionParent" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into question_parent (question_parent_desc)
    values (#{questionParentDesc,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cheyfly.touchlearn.common.pojo.QuestionParent" >
    update question_parent
    set question_parent_desc = #{questionParentDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, question_parent_desc
    from question_parent
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, question_parent_desc
    from question_parent
  </select>
</mapper>